<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <title>Medidas relativas</title>
</head>

<body>
    <main>
        <section class="sec1">
            <h2>Stranger Things</h2>
            <article>
                <img src="/img/StrangerThings.jpg" alt="StrangerThings">
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti maiores praesentium totam nulla. Ipsam laudantium eaque, doloribus natus aut necessitatibus quasi est, molestiae omnis nulla autem explicabo unde ducimus error.
                </p>
            </article>
        </section>
        <section class="sec2">
            <h2>Stranger Things 5</h2>
            <article>
                <img src="/img/ST5.jpg" alt="StrangerThings">
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti maiores praesentium totam nulla. Ipsam laudantium eaque, doloribus natus aut necessitatibus quasi est, molestiae omnis nulla autem explicabo unde ducimus error.
                </p>
            </article>
        </section>
    </main>
</body>

</html>