*{
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}
.div-padre{
    background-color: rgb(156, 156, 156);
    border: 5px red dashed;
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
}
.div-1 ,.div-2,.div-3,.div-4{
    padding: 15px;
    width: 700px;
}
.div-1{
    background-color: aqua;
    border: 5px solid black;
}
.div-2{
    background-color: rgb(0, 183, 255);
    border: 5px solid rgb(140, 255, 0);
}
.div-3{
    background-color: rgb(255, 234, 0);
    border: 5px solid rgb(130, 0, 0);
}
.div-4{
    background-color: rgb(49, 100, 255);
    border: 5px solid rgb(255, 0, 247);
}