*{
    box-sizing: border-box;
    font-family: Helvetica;
    font-size: 40px;
}
main{
    width: 100%;
    height: 100vh;
}
/* - - - - - - RELATIVE - - - - - - */
.relative{
    width: 100%;
    height: 50%;
    background-color: rgb(88, 88, 88);
}
.caja-1 , .caja-2{
    width: 150px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.caja-1{
    background-color: bisque;
    position: relative;
    left: 100px;
    top: 50px;
}
.caja-2{
    background-color: aquamarine;
}
/* - - - - - - ABSOLUTE - - - - - - */
.absolute{
    width: 100%;
    height: 50%;
    background-color: rgb(70, 102, 81);
}
.caja-3 , .caja-4{
    width: 150px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.caja-3{
    background-color: rgb(207, 196, 255);
    position: absolute;
    right: 50px;
    bottom: 100px;
}
.caja-4{
    background-color: rgb(255, 127, 127);
}
/* - - - - - - RELATIVE ABSOLUTE - - - - - - */
.relativeabsolute{
    margin: auto;
    width: 60%;
    height: 50%;
    background-color: rgb(97, 70, 102);
    position: relative; /*  para que la linea 74  (position: absolute;) no se salga (somo la caja padre)*/
}
.caja-5 , .caja-6 , .caja-7{
    width: 150px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.caja-5{
    background-color: rgb(86, 61, 196);
}
.caja-6{
    background-color: rgb(127, 255, 138);
    position: absolute; /* esta adentro de la caja padre (linea 60) */
    right: 50px;
}
.caja-7{
    background-color: rgb(127, 255, 206);
}
/* - - - - - - RELATIVE ABSOLUTE (again) - - - - - - */
.relativeabsolute-again{
    width: 100%;
    background-color: rgb(88, 88, 88);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.border{
    width: 500px;
    border: 6px solid red;
    padding: 50px;
    border-radius: 15px;
    margin: 100px 0px;
    background-color: aliceblue;
}
.relativeabsolute-again img{
    width: 70px;
    height: 70px;
    position: absolute;
    top: 64px;
}
.relativeabsolute-again h3, .relativeabsolute-again p {
    font-size: 20px;
}
/* - - - - - - FIXED - - - - - - */
.fixed, .fixed_border{
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 5;
}
.fixed{
    width: 100%;
    margin-top: 15px;
}
.fixed_border{
    background-color: bisque; 
    width: 50%;
    border: 5px solid burlywood;
    border-radius: 20px;
    padding: 5px 10px;
}
.fixed h1{
    font-size: 30px;
    text-align: center;
}
/* - - - - - - transition - - - - - - */
.transition{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: lightslategrey;
}
.transition button{
    background-color: rgb(128, 128, 128);
    border: 5px solid rgb(20, 20, 20);
    border-radius: 15px;
    width: 200px;
    height: 150px;
    margin: 400px 0;
    transition: all 3s;
}

.transition button:hover{
    background-color: rgb(185, 185, 185);
    border: 5px solid rgb(104, 104, 104);
    border-radius: 50px;
    width: 300px;
    height: 150px;
    margin: 400px 0;
    padding: 4px 5px;
}

.transition button{
    padding: 2px;
    transition: all 0ms;
}
.transition button:hover{
    padding: 4px 5px;
}
