<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jersey+25&display=swap" rel="stylesheet">
    <title>Page</title>
</head>

<body>
    <header>
        <h1>Creeds - Push Up</h1>
        <img src="/img/Creeds - Push Up.jpg" alt="Creeds">
    </header>
    <main>
        <section class="description">
            <p>Es una canción del grupo musical Creeds, conocida por su ritmo pegadizo y sus letras motivadoras. La
                canción combina elementos de hip-hop y música electrónica, con una energía contagiosa que invita a
                moverse y anima al oyente a superar desafíos. Con un estilo fresco y una producción dinámica, "Push Up"
                es una pista que puede inspirar y elevar el ánimo de quien la escucha.</p>
        </section>
        <section class="caracters">
            <header>
                <p>
                    "Push Up" de Creeds presenta varias características distintivas que contribuyen a su atractivo:
                </p>
            </header>
            <nav>
                <ol>
                    <li>Ritmo pegadizo: La canción está impulsada por un ritmo enérgico y contagioso que invita al
                        movimiento y la acción.</li>
                    <li>Letras motivadoras: Las letras de la canción transmiten un mensaje positivo de superación y
                        empoderamiento, motivando al oyente a enfrentar desafíos y perseguir sus metas.</li>
                    <li>Fusión de géneros: "Push Up" combina elementos de hip-hop y música electrónica, creando una
                        fusión de estilos que atrae a una amplia audiencia.</li>
                    <li>Producción dinámica: La producción de la canción es dinámica y cautivadora, con cambios de ritmo
                        y efectos que mantienen el interés del oyente a lo largo de la pista.</li>
                    <li>Energía contagiosa: La canción emana una energía positiva y contagiosa que eleva el ánimo y
                        puede motivar a quien la escucha.
                        En conjunto, estas características hacen de "Push Up" una canción atractiva y estimulante que
                        puede resonar con una amplia audiencia.</li>
                </ol>
            </nav>
        </section>
    </main>
</body>

</html>