*{
    box-sizing: border-box;
    font-family: Helvetica;
}
form input{
    display: block;
    width: 400px;
}
form{
    background-color: bisque;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.div-main form{
    background-color: aquamarine;
    height: 100vh;
    width: 100%;
}
.div-two form{
    background-color: rgb(127, 140, 255);
    height: 100vh;
    width: 100%;
}