<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FM DOOM 🤪</title>
</head>
<body>
    <MAIn>
        <h1>FM DOOM es una de las canciones con más ritmo es escuchado 😎</h1>
        <img src="/img/Musica.jpg" alt="Musica">
        <h4>La caracteristicas que puedo nombrar son las siguientes:</h4>
        <ol>
            <li>SoundTrank 💎</li>
            <li>Buen tono de voz 👌</li>
            <li>Buenos coros 👍</li>
        </ol>
        <h6>Todos los derechos reservados se pueden leer en este link 👇</h6>
        <a href="https://images.voicy.network/Content/Clips/Images/8ea69b4c-cbae-45d7-a615-02fd0dadb5a9-small.png">Soy el Link de abajo 🤣</a>
    </MAIn>
</body>
</html>