<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <title>Clase 22 😆</title>
</head>

<body>
    <main>
        <div class="fixed">
            <div class="fixed_border">
                <h1>Estas usando position: relative, absolute, fixed y transition</h1>
            </div>
        </div>
        <!--  - - - - - - POSITION RELATIVE - - - - - -  -->
        <div class="relative">
            <div class="caja-1">
                position
            </div>
            <div class="caja-2">
                relative
            </div>
        </div>
        <!--  - - - - - - POSITION ABSOLUTE - - - - - -  -->
        <div class="absolute">
            <div class="caja-3">
                position
            </div>
            <div class="caja-4">
                absolute
            </div>
        </div>
        <!--  - - - - - - POSITION ABSOLUTE Y POSITION RELATIVE  - - - - - -  -->
        <div class="relativeabsolute">
            <div class="caja-5">
                position
            </div>
            <div class="caja-6">
                relative
            </div>
            <div class="caja-7">
                absolute
            </div>
        </div>
        <!--  - - - - - - POSITION ABSOLUTE Y POSITION RELATIVE (otro ejemplo) - - - - - -  -->
        <div class="relativeabsolute-again">
            <div class="border">
                <img src="/img/KO.png" alt="ko">
                <h3>Lorem ipsum dolor sit amet consectetur</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque ex maiores, labore excepturi sit
                    omnis nemo voluptas quis asperiores illum repellat est suscipit. Quas commodi modi, culpa ut nisi
                    est?</p>
            </div>
        </div>
        <!--  - - - - - - TRANSITION Y HOVER - - - - - -  -->
        <div class="transition">
            <button>
                Soy un boton re loco 😆
            </button>
        </div>
    </main>
</body>

</html>