<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <title>Flex Box</title>
</head>

<body>
    <main>
        <div class="div-padre">
            <div class="div-1">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur nobis, vel beatae illum consequuntur, sapiente in quis sit distinctio explicabo qui odit ex quae nulla aliquid nesciunt quasi numquam quidem! Commodi dolorum ducimus voluptatem aperiam! </div>
            <div class="div-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur nobis, vel beatae illum consequuntur, sapiente in quis sit distinctio explicabo qui odit ex quae nulla aliquid nesciunt quasi numquam quidem! Commodi dolorum ducimus voluptatem aperiam! </div>
            <div class="div-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur nobis, vel beatae illum consequuntur, sapiente in quis sit distinctio explicabo qui odit ex quae nulla aliquid nesciunt quasi numquam quidem! Commodi dolorum ducimus voluptatem aperiam! </div>
            <div class="div-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur nobis, vel beatae illum consequuntur, sapiente in quis sit distinctio explicabo qui odit ex quae nulla aliquid nesciunt quasi numquam quidem! Commodi dolorum ducimus voluptatem aperiam! </div>
        </div>
    </main>
</body>

</html>