<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <title>Document 😎</title>
</head>

<body>
    <main>
        <form action="/lol" method="post">
            <input type="button"> es un button👆
            <input type="checkbox">es un checkbox👆
            <input type="color"> es un color 👆
            <input type="date"> es un date 👆
            <input type="datetime"> es un datetime 👆
            <input type="datetime-local">  es un datetime-local 👆
            <input type="email">  es un email 👆
            <input type="file">  es un file 👆
            <input type="hidden">  es un hidden 👆
            <input type="image">  es un img 👆
            <input type="month">     es un month 👆
            <input type="number">    es un number 👆
            <input type="password">  es un password 👆
            <input type="radio"> es un radio 👆
            <input type="range"> es un range 👆
            <input type="reset"> es un reset 👆
            <input type="search"> es un search 👆
            <input type="submit"> es un submit 👆
            <input type="tel">   es un tell 👆
            <input type="text">  es un text 👆
            <input type="time"> es un time 👆
            <input type="url"> es un url 👆
            <input type="week"> es un week 👆
        </form>
    </main>
    <div class="div-main">
        <form action="">
            <label for="coment">Deja el comentario</label>
            <textarea name="comentario" id="coment" cols="30" rows="10">Content</textarea>
        </form>
    </div>
    <div class="div-two">
        <form action="">
            <label for="color">Select one color</label>
            <select name="" id="color">
                <option value="#ffffff">white</option>
                <option value="">red</option>
                <option value="">blue</option>
                <option value="">purple</option>
                <option value="">greeen</option>
            </select>
            <button type="submit"> Enviar </button>
        </form>
    </div>
</body>

</html>