<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <title>Document 😎</title>
</head>

<body>
    <main>
        <form action="/lol" method="post">
            <input type="button"> es un button👆
            <input type="checkbox">es un checkbox👆
            <input type="color"> es un color 👆
            <input type="date"> es un date 👆
            <input type="datetime"> es un datetime 👆
            <input type="datetime-local">  es un datetime-local 👆
            <input type="email">  es un email 👆
            <input type="file">  es un file 👆
            <input type="hidden">  es un hidden 👆
            <input type="image">  es un img 👆
            <input type="month">     es un month 👆
            <input type="number">    es un number 👆
            <input type="password">  es un password 👆
            <input type="radio"> es un radio 👆
            <input type="range"> es un range 👆
            <input type="reset"> es un reset 👆
            <input type="search"> es un search 👆
            <input type="submit"> es un submit 👆
            <input type="tel">   es un tell 👆
            <input type="text">  es un text 👆
            <input type="time"> es un time 👆
            <input type="url"> es un url 👆
            <input type="week"> es un week 👆
        </form>
    </main>
    <div class="div-main">
        <form action="">
            <label for="coment">Deja el comentario</label>
            <textarea name="comentario" id="coment" cols="30" rows="10">Content</textarea>
        </form>
    </div>
    <div class="div-two">
        <form action="">
            <label for="color">Select one color</label>
            <select name="" id="color">
                <option value="#ffffff">white</option>
                <option value="">red</option>
                <option value="">blue</option>
                <option value="">purple</option>
                <option value="">greeen</option>
            </select>
            <button type="submit"> Enviar </button>
        </form>
    </div>
    <div class="div-tre">
        <form action="">
            <label for="pet">Tenes mascota?</label>
            <input type="radio" name="pet" value="si" checked>
            <input type="radio" name="pet" value="no">
            <button type="submit"> Enviar </button>
        </form>
    </div>
    <div class="div-for">
        <form action="">
            <label for="hobby">¿Cuáles son tus hobbies?"</label>
            <input type="checkbox" name="hobby" value="Pescar" checked>
            <input type="checkbox" name="hobby" value="Correr">
            <input type="checkbox" name="hobby" value="Yoga">
            <button type="submit"> Enviar </button>
        </form>
    </div>
    <div class="div-five">
        <form action="">
            <select name="mes" id="cumple">
                <option value="Enero">1</option>
                <option value="Febrero">2</option>
                <option value="Marzo">3</option>
                <option value="Abril">4</option>
                <option value="Mayo">5</option>
                <option value="Junio">12</option>
                <option value="Julio">6</option>
                <option value="Agosto">7</option>
                <option value="Septiembre">8</option>
                <option value="Octubre">9</option>
                <option value="Noviembre">10</option>
                <option value="Diciembre">12</option>
            </select>
        </form>
    </div>
    <div class="div-six">
            <a class="main-a" href="#">Soy un link</a>
            <a class="beta-a" href="#">Soy una etiqueta a a</a>
            <a class="alfa-a" href="#">Estoy siendo usado por un hover</a>
            <a class="omega-a" href="#">Tengo un actice encima</a>
            <a class="main-p" href="#" tabindex="0">Pasa el cursor acima mio jejejej</a>
            <div class="container">
                <p class="main-text">Texto de ejemplo</p>
            </div>
    </div>
</body>

</html>