<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hysteria 🤯</title>
</head>
<body>
    <h1>Hysteria - Machine Girl</h1>
    <main>
        <p>Hysteria es una de las conciones más random que escuche ne mi vida 🤯🤣</p>
        <img src="/img/hysteria.jpg" alt="imagen representativa">
    </main>
    <footer>
        <p>Todo los derechos reservados apretando este link de abajo 👇</p>
        <nav>
            <ul>
                <li><a href="https://ih1.redbubble.net/image.2238224905.2722/bg,f8f8f8-flat,750x,075,f-pad,750x1000,f8f8f8.jpg">Link 👍</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>